In [2]:
import pandas as pd
import numpy as np

In [3]:
purchase_df = pd.read_csv(r'D:\Тестирование\Python\datasets\Train_tasks\purchase_data_an.csv')

In [4]:
purchase_df.head()

,purchase_id,user_id,Age,Gender,item_id,item_name,Price
0,0,87708,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,15192,40,Male,143,Frenzied Scimitar,1.56
2,2,60057,24,Male,92,Final Critic,4.88
3,3,83349,24,Male,100,Blindscythe,3.27
4,4,31440,23,Male,131,Fury,1.44

In [5]:
purchase_df.dtypes

purchase_id      int64
user_id          int64
Age              int64
Gender          object
item_id          int64
item_name       object
Price          float64
dtype: object